{% extends 'base.html' %}
{% block title %}用户设置{% endblock %}

{% block beforehead %}
<script>

</script>
{% endblock %}

{% block content %}

<div class="uk-width-1-1 ">
    <article class="uk-comment">
        <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{__user__.image }}">
        <h2 class="uk-comment-title">{{ user.name }}</h2>
        <p class="uk-article-meta">创建于{{ user.created_at|datetime }}</p>
    </article>
    <hr class="uk-article-divider">
</div>
{% endblock %}